<ion-header>
    <ion-toolbar>
        <ion-title>Desenhar Área</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div id="mapa" #mapa class="map"></div>
</ion-content>

<ion-footer>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-button (click)="limpar()" color="danger" *ngIf="desenhando && concluir">
                <ion-icon slot="start" name="trash"></ion-icon>
                Desenhar Novamente
            </ion-button>
            <ion-button (click)="dismiss()" color="success" *ngIf="desenhando && concluir">
                <ion-icon slot="start" name="trash"></ion-icon>
                Concluir
            </ion-button>
            <ion-button (click)="desenharArea()" size="full" *ngIf="!desenhando && !concluir">
                Desenhar Área
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-footer>